@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --dark: #050505;
  --bright: #fafafa;
  --highlight: #ffb915;
}


html, * {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  font-size: 16px;
  background-color: var(--dark);
  color:var(--bright);
}

body {
  max-width: 40rem;
  padding: 2rem;
  height: 100%;
  margin: 0 auto;
  display: grid;
  align-content: center;
  grid-template-columns: auto;
}

footer {
    border-top: 1px dotted var(--bright);
    text-align: center;
    margin-top: 1.2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

a {
  color: var(--highlight);
  text-decoration: none;
}

a:hover {
  color:#fff;
}

button {
    cursor: pointer;
    color:var(--dark);
    border-style: solid;
    border-radius: 0.2rem;
}

button:hover {
    border-color: var(--highlight);
}

.invisible {
    display: none;
}

.smaller {
    font-size: 98%;
}

.even-smaller {
    font-size: 90%;
}