@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, * {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  font-size: 16px;
  background-color: #050505;
  color:#fafafa;
}

body {
  max-width: 40rem;
  padding: 2rem;
  height: 100%;
  margin: 0 auto;
  display: grid;
  align-content: center;
  grid-template-columns: auto;
}

a {
  color:#ffb915;
  text-decoration: none;
}

a:hover {
  color:#fff;
}

.invisible {
    display: none;
}

.smaller {
    font-size: 98%;
}