body {
	background-color:#353e82;
	color:#404040;
	font-family: 'Maven Pro', sans-serif;
	width: 900px;
	margin: 0px auto;
}

hr {
	border:1px dotted #7b7b7b;
}

a {
    color: #353e82;
	text-decoration: none;
}

a:hover {
    color: #930f44;
}

li {
	list-style-type: none;
}

li:before {
	content: "♠";
	font-size:1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Julius Sans One', sans-serif;
}

.notfooter {
	margin:50px 0px 30px 0px;
	background-color: #f9f8fc;
	box-shadow:0px 0px 10px #1d175b;
}

.header {
	padding: 10px 0px 20px 0px;
	font-size:2.1em;
	text-align:center;
}

.postlisting {
	margin:15px;
	width:240px;
	max-height:240px;
	float:left;
	overflow:hidden;
}

.postlisting:hover {
	opacity: 0.8;
}

.plhead {
	font-size:1.2em;
	font-weight:bold;
	font-family: 'Julius Sans One', sans-serif;
	height:40px;
}

.postexcerpt {
	font-size:0.8em;
	color: #7b7b7b;
	font-weight: normal;
	font-family: 'Maven Pro', sans-serif;
}

.footer {
	margin-bottom:50px;
	padding:8px;
	font-size:0.9em;
	background-color: #f9f8fc;
	box-shadow:0px 0px 10px #1d175b;
	color: #7b7b7b;
}

.footertext {
	float:left;
}

.license {
	float:right;
	opacity:0.4;
}

.license:hover {
	opacity:0.6;
}

.licensetext {
	width:200px;
	float:left;
	font-size:0.7em;
	margin:2px 10px 0px 5px;
	text-align:right;
}

.post {
	padding: 10px 40px 40px 40px;
}

.subpost {
	padding:0px 10px 10px 0px;
	font-size:0.9em;
	color: #7b7b7b;
	text-align:right;
}

.post img {
	width:250px;
	padding:5px 5px 0px 0px;
}

.caption {
	font-size:0.9em;
	color:#7b7b7b;
}