<div class="footer">
	<div class="footertext">
		<a href="/" title="Home">Home</a> | <a href="/about.html" title="About">About</a> | <a href="contact.html" title="Contact">Contact</a> | <a href="/feed.xml" title="RSS Feed" target="_blank">RSS</a><br />
		 Created 08/24/2015, Hosted on <a href="http://pages.github.com/" target="_blank">GitHub Pages</a>
	</div>
	<!--license-->
	<div class="license">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
	</div><div style="clear:both"></div>
</div>