<div class="footer">
<div class="footertext">
<a href="/about.html" title="About">About</a> | <a href="contact.html" title="Contact">Contact</a> | Lifay's Blog, created 08/24/2015 <br />
Check out <a href="https://pages.github.com/" title="GitHub Pages">GitHub Pages</a>.
</div>
<!--license-->
<div class="license">
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
</div>
<div style="clear:both"></div>
</div>