/* all screens */
body {
	background-color:#353e82;
	color:#404040;
	font-family: 'Maven Pro', sans-serif;
	margin: 0px auto;
	overflow:scroll;
}

hr {
	border:0.1em dotted #7b7b7b;
}

a {
    color: #353e82;
	text-decoration: none;
}

a:hover {
    color: #930f44;
}

li {
	list-style-type: none;
}

li:before {
	content: "♠";
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Julius Sans One', sans-serif;
}

.notfooter {
	background-color: #f9f8fc;
}

.header {
	text-align:center;
	font-size:2em;
}

.postlisting {
	overflow:hidden;
	display:inline-block;
	float:center;
}

.plhead {
	color: #353e82;
}

.postexcerpt {
	color: #7b7b7b;
	font-weight: normal;
	font-family: 'Maven Pro', sans-serif;
}

.postcont {
	overflow:hidden;
	color:#7b7b7b;
	display:block;
	background-color:#f9f8fc;
}

.footer {
	background-color: #f9f8fc;
	color: #7b7b7b;
	font-size:0.9em;
}

.license {
	opacity:0.4;
}

.subpost {
	color: #7b7b7b;
}

.imgunit {
	display:inline-block;
	color:#7b7b7b;
	vertical-align:middle;
}

/* Screens > 500px */
@media (min-width: 500px){
	body {
	max-width: 90%;
	}
	
	li:before {
	font-size:1.2em;
	}
	
	.notfooter {
	margin:50px 0px 30px 0px;
	box-shadow:0px 0px 10px #1d175b;
	}
	
	.header {
	padding: 0.5em 0em 0.5em 0em;
	letter-spacing: 0.8em;
	}

	.postlisting {
	vertical-align:top;
	margin:0.2em 3.5% 1.1em 3.5%;
	width:15em;
	height:9em;
	}

	.plhead {
	height:2.5em;
	}

	.postexcerpt {
	font-size:0.9em;
	}
	
	.postcont {
	margin:-0.5em;
	font-size:0.9em;
	width:300px;
	height:240px;
	}
	
	.footer {
	margin-bottom:50px;
	padding:8px;
	box-shadow:0px 0px 10px #1d175b;
	}
	
	.footertext {
	float:left;
	}

	.license {
	float:right;
	}
	
	.license:hover {
	opacity:0.6;
	}

	.licensetext {
	width:200px;
	float:left;
	font-size:0.7em;
	margin:2px 10px 0px 5px;
	text-align:right;
	display:none;
	}
	
	.post {
	padding: 10px 40px 40px 40px;
	}
	
	.subpost {
	padding:0px 10px 10px 0px;
	font-size:0.9em;
	text-align:right;
	}
	
	.imgunit {
	font-size:0.9em;
	}
	
	.post img {
	width:100%;
	max-width:300px;
	padding:5px 5px 0px 0px;
	}
}

/* Screens < 499px */
@media (max-width: 499px){
	body {
		max-width: 100%;
	}
	
	ul {
	padding:0.1em;
	}

	li:before {
	font-size:0.8em;
	}
	
	.header {
	padding: 0.1em;
	text-align:center;
	letter-spacing: 0.1em;
	}
	
	.postlisting {
	width:100%;
	margin-bottom:1em;
	}
	
	.plhead {
	font-size:1.5em;
	}
	
	.postexcerpt {
	font-size:1.2em;
	}
	
	.footer {
	margin-top:0.5em;
	padding:0.1em;
	text-align:center;
	}
	
	.license {
	margin-top:0.3em;
	}

	.post {
	padding: 0.5em;
	font-size:1.4em;
	}
	
	.subpost {
	font-size:1.1em;
	text-align:center;
	padding-bottom:1em;
	}
	
	.post img {
	max-width: 470px;
	width:100%;
	}
}