<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<link rel="shortcut icon" type="image/svg" href="favicon.svg" />
	<meta charset="utf-8">
	<meta name="description" content="Blog"/>
	<title>{{ page.title }}</title>
</head>
<body>
	<div class="notfooter">
	<br />
	<center>
	<h1><a href="/" title="Home">♠</a></h1>
	  {{ content }}  
	</div>
	</center>
</body>
</html>
<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Julius+Sans+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/./style.css" type="text/css" />