<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta charset="utf-8">
   <meta name="description" content="Blog"/>
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/style.css" type="text/css" />
   <link rel="shortcut icon" type="image/svg" href="favicon.svg" />
</head>
<body>
<div class="container">
	<div class="notfooter">
	  {% include header.html %}

	  {{ content }}
	  
	</div>
	
	  {% include footer.html %}
</div>
</body>
</html>